@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background: #000000;
  color: #ffffff;
  overflow-x: hidden;
  font-family: Inter, sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #dc2626;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ef4444;
}